.navbar {
    display: flex;
    justify-content: center;
}

.navbar_links {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.navbar_links a {
    color: white;
    padding: 0.5rem;
    margin: 0.5rem;
}

.navbar_links a.active {
    color: orange;
}